.cont{
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: darksalmon;
    color:  rgb(82, 40, 10);
    font-style: italic;
    padding: 10px 50px;
    border: none;

}



.header img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
}
.menu1{
    margin: auto;
    padding:10px;
    height: 60px;
    background-color: darksalmon;
    
  
}

.menu1 ul {
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 70%; 
    font-style: italic;
    font-weight: bolder;
    
}

a {
    text-decoration: none;
    color: rgb(65, 30, 4);
    font-size: larger;


}
.contenedor1{
    width: 98%;
    margin: 30px  auto;
    display: grid;
    grid-template-areas: 'a a a a';
   
    row-gap: 20px;
    column-gap: 20px;
}
.contenedor1 img{

    width: 90%;
    max-width: 250px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
}
.contenedor1 button{
    display: flex;
    background-color: powderblue;
    border-radius: 20px;
   margin: 3px;
   
}



.itemCard1 {
 
    
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #e3b98e15 ;
    font-family: italic;
    

}
.itemCard1 img{
    display:flex;
    border:none;



}

.itemCard1 button {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;
    border: none;
}
.itemCard1 button:hover{
    background-color: skyblue;
    box-shadow: 0 0 15px rgb(16, 125, 209);
   
}

   



      


