.cont{
    border: solid;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: darksalmon;
    color:  rgb(82, 40, 10);
    font-style: italic;
    padding: 10px 50px;

}



.header img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.menu{
    margin: auto;
    padding:10px;
    height: 60px;
    background-color: darksalmon;
    
  
}

.menu ul {
    margin: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 70%; 
    font-style: italic;
    font-weight: bolder;
    
}

a {
    text-decoration: none;
    color: rgb(65, 30, 4);
    font-size: larger;


}
.contenedor{
    width: 98%;
    margin: 30px  auto;
    display: grid;
    grid-template-areas: 'a a a a';
    border: solid red;
    row-gap: 20px;
    column-gap: 20px;
}
.contenedor img{

    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    text-align: center;
}
.contenedor button{
    display: flex;
    background-color: powderblue;
    border-radius: 20px;
   margin: 3px;
   
}



.itemCard {
    height: 300px;
    
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #d6a97d15 ;
    font-family: italic;
    border: solid lightskyblue; 

}
.itemCard1 img{
    border: solid;
    display:flex;
   
    width: 200px;
    height: 195px;

}

.itemCard button {
    width: 50%;
    height: 11%;
    display: flex;
    justify-content: center;
    margin: auto;
    border: none;
}
.itemCard button:hover{
    background-color: skyblue;
    box-shadow: 0 0 15px rgb(16, 125, 209);
   
}

   



.carousel-item img{
    height: 500px;
    

} 
